---
import Layout from "../../../layouts/Layout.astro";

import { Image } from "astro:assets";
---

<Layout>
  <main>
    <h1>このページについて</h1>
    <p>
      このページでは、オリジナルキャラクター「歌街凪音」に関するガイドラインを記載しています。<br
      />
      本キャラクターを使用する場合は、必ず本ガイドラインを遵守してください。
    </p>

    <h2>名前</h2>
    <p>名前の表記は以下の通りとします。</p>
    <ul>
      <li>歌街 凪音</li>
      <ul>
        <li>姓と名は、それぞれ単体で使用して構いません。</li>
        <li>必要に応じて、平仮名表記と組み合わせて使用して構いません。</li>
      </ul>

      <li>Utamachi Nakine</li>
      <ul>
        <li>ローマ字で表記する場合は、姓と名を合わせて表記してください。</li>
      </ul>

      <li>その他の表記</li>
      <ul>
        <li>その他の表記について、特に指定はありません。</li>
        <li>必要に応じて適切に表記して構いません。</li>
      </ul>
    </ul>

    <h2>二次創作について</h2>
    <ul>
      <li>基本方針</li>
      <ul>
        <li>歌街凪音の二次創作は、個人の範囲で自由に行って構いません。</li>
        <li>ただし、R18・R18Gを含む表現はいかなる場合でも禁止します。</li>
        <li>商用利用を希望する場合は、Shicoku / 詩哭 までご連絡ください。</li>
      </ul>

      <li>禁止事項</li>
      <ul>
        <li>R18・R18Gを含む内容での使用。</li>
        <li>
          公序良俗に反する内容、または第三者の権利を侵害する内容での使用。
        </li>
        <li>公式と誤解されるような表記・表現。</li>
        <li>
          ロゴやアイコンなど、別途ガイドラインで使用を制限している素材の利用。
        </li>
        <li>AIモデルへの学習。データセットへの利用(原則禁止)</li>
      </ul>

      <li>クレジット表記</li>
      <ul>
        <li>クレジットは必ず記載してください。</li>
        <li>記載形式は自由です。</li>
        <li>
          「凪音」「歌街凪音」「なきねちゃん」など、キャラクターが特定できる名称を記載してください。
        </li>
        <li>SNSでタグ付けする場合、「#凪音アート」をご利用ください。</li>
      </ul>

      <li>作品の公開</li>
      <ul>
        <li>非商用の範囲であれば自由に公開して構いません。</li>
        <li>
          商用利用、ガイドラインに反しない範囲であれば特別な連絡は不要です。
        </li>
      </ul>

      <li>その他</li>
      <ul>
        <li>
          本ガイドラインは予告なく変更される場合があります。最新の内容をご確認ください。
        </li>
        <li>
          お問い合わせについては、<a href="/contact">お問い合わせフォーム</a> または
          各種SNSまでご連絡ください。
        </li>
      </ul>
    </ul>
  </main>
</Layout>

<style>
  main {
    margin-top: 100px;
    margin-left: 100px;
    color: #fff;
  }

  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 2rem;
  }
  p {
    font-size: 1.5rem;
  }
  ul {
    font-size: 1.5rem;
    width: 90%;
  }
  ul ul {
    list-style: none;
  }
  a {
    color: #fff;
  }
  a:hover {
    color: #ccc;
  }

  @media screen and (max-width: 789px) {
    main {
      margin-left: 20px;
      width: 350px;
    }

    h1 {
      font-size: 2.1rem;
    }
    h2 {
      font-size: 1.8rem;
    }
    p {
      font-size: 1.2rem;
      width: 380px;
    }
    ul {
      font-size: 1.2rem;
      width: 90%;
    }
    ul ul {
      list-style: none;
    }
  }
</style>
