---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main>
    <h1>404 Not Found</h1>
    <p>
      現在、ホームページメンテナンスのため、アクセスができません。
      <br />時間を空けて再度お試しください。
    </p>
  </main></Layout
>
