---
import Access from "../components/animations/access.astro";
import Layout from "../layouts/Layout.astro";
import Menu from "../components/menu.astro";
import Slider from "../components/slider.astro";
---

<Layout>
  <Access>
    <main>
      <Menu />
      <h1>Works</h1>
      <Slider />
    </main>
  </Access>
</Layout>

<style>
  main {
    font-family: kt;
    opacity: 0;
    animation: fadeInMain 0.5s ease-in 1.4s forwards;
  }

  @keyframes fadeInMain {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  h1 {
    font-size: 32px;
    margin: 40px 0 20px 20px;
  }
</style>
