---
import Animation from "../components/animations/access.astro";
import Layout from "../layouts/Layout.astro";
import Menu from "../components/menu.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <Animation>
    <!-- <img id="background" src="/back2.png" alt="background" fetchpriority="high" /> -->
    <main>
      <Menu />
      <h1>Shicoku / 詩哭</h1>
    </main>
  </Animation>
</Layout>

<style>
  #background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  main {
    font-family: kt;
    opacity: 0;
    animation: fadeInMain 0.5s ease-in 1.4s forwards;
  }

  @keyframes fadeInMain {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
</style>
