---
import Layout from "../layouts/Layout.astro";

import Hero from "../components/home/hero.astro";
import Profile from "../components/home/profile.astro";
import Projects from "../components/home/projects.astro";
import Contact from "../components/home/contact.astro";
---

<Layout>
  <main>
    <Hero />

    <Profile />

    <Projects />

    <Contact />
  </main>
</Layout>

<style>
  main {
    font-family: kt;
    margin: 0;
    color: #fff;
  }
</style>
