---
import Access from "../components/animations/access.astro";
import Layout from "../layouts/Layout.astro";
import Menu from "../components/menu.astro";
import Works from "../components/works.astro";

import { Image } from "astro:assets";
import nakine from "/public/utamachi_nakine.png";
---

<Layout>
  <Access>
    <main>
      <Menu />
      <div class="top-line">
        <div class="logo">SCK</div>
        <div class="line"></div>
      </div>

      <div class="about">
        <Image src={nakine} alt="凪音" class="about-img" />
        <div class="about-text">
          <h1>詩哭 / Shicoku</h1>
          <p>学生 / エンジニア</p>
          <p>test</p>
        </div>
      </div>

      <div class="under-line">
        <div class="line"></div>
        <div class="logo">SCK</div>
      </div>

      <Works />
    </main>
  </Access>
</Layout>

<style>
  main {
    font-family: kt;
    opacity: 0;
    animation: fadeInMain 0.5s ease-in 1.4s forwards;
  }

  @keyframes fadeInMain {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .top-line {
    display: flex;
    align-items: center;
    padding: 1rem;
    margin-top: 1rem;
    font-family: boldnese;
  }
  .top-line .logo {
    font-weight: bold;
    font-size: 2rem;
    margin-right: 1rem;
    margin-left: 5rem;
    color: #0a1a2f;
  }
  .top-line .line {
    flex: 1;
    height: 2px;
    background-color: #0a1a2f;
    opacity: 0.6;
    margin-right: 80px;
  }
  .under-line {
    display: flex;
    align-items: center;
    padding: 1rem;
    margin-top: 0.5rem;
    font-family: boldnese;
  }
  .under-line .logo {
    font-weight: bold;
    font-size: 2rem;
    margin-right: 80px;
    color: #0a1a2f;
  }
  .under-line .line {
    flex: 1;
    height: 2px;
    background-color: #0a1a2f;
    opacity: 0.6;
    margin-right: 1rem;
    margin-left: 5rem;
  }

  .about {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 50px 0;
    gap: 5rem;
  }
  .about-img {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.6);
    border-radius: 12px;
    width: 500px;
    height: auto;
  }
  .about-text {
    align-items: flex-start;
  }
  .about-text h1 {
    font-size: 2.5rem;
    margin-top: 5rem;
    color: #0a1a2f;
    border-bottom: 2px solid #55ddff;
  }
  .about-text p:nth-of-type(1) {
    font-size: 1.7rem;
    margin-top: 1rem;
    color: #777777;
  }
  .about-text p:nth-of-type(2) {
    font-size: 1.5rem;
    margin-top: -20px;
  }

  @media (max-width: 768px) {
    .about {
      flex-direction: column;
      gap: 2rem;
    }
    .about-img {
      width: 100%;
      max-width: 300px;
    }
    .about-text h1 {
      font-size: 2rem;
      margin-top: 2rem;
    }
    .about-text p {
      font-size: 1rem;
    }
  }
</style>
