---
import Access from "../components/animations/access.astro";

import Layout from "../layouts/Layout.astro";

import Menu from "../components/menu.astro";

import About from "../components/about.astro";
import Works from "../components/works.astro";
import Contact from "../components/contact.astro";
---

<Layout>
  <Access>
    <main>
      <Menu />

      <About />

      <Works />

      <Contact />
    </main>
  </Access>
</Layout>

<style>
  main {
    font-family: kt;
    opacity: 0;
    animation: fadeInMain 0.5s ease-in 1.4s forwards;
  }

  @keyframes fadeInMain {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
</style>
