---
import { Image } from "astro:assets";

import Nakine from "/public/img/nakine.png";
import Note from "../assets/links/note.svg";
import Zenn from "../assets/links/zenn.svg";
---

<!doctype html>
<html lang="jp">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta property="og:title" content="Shicoku / 詩哭" />
    <meta
      property="og:description"
      content="詩哭です。ゆるくたのしく色々作ります。"
    />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://shicoku.vercel.app/" />
    <meta
      property="og:image"
      content="https://shicoku.vercel.app/img/ogp.png"
    />
    <meta property="og:site_name" content="Shicoku / 詩哭" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Shicoku / 詩哭" />
    <meta
      name="twitter:description"
      content="詩哭です。ゆるくたのしく色々作ります"
    />
    <meta
      name="twitter:image"
      content="https://shicoku.vercel.app/img/ogp.png"
    />
    <meta name="twitter:site" content="@Sck_Day" />
    <meta name="twitter:url" content="https://shicoku.vercel.app/" />

    <!-- icon -->
    <link rel="icon" type="image/png" href="/icons/favicon.ico" />
    <link rel="shortcut icon" type="image/png" href="/icons/favicon.ico" />
    <link rel="apple-touch-icon" href="/icons/favicon.ico" />

    <title>Shicoku / 詩哭</title>
  </head>
</html>

<body>
  <div>
    <div class="icon">
      <Image src={Nakine} alt="Nakine" />
      <p class="name">詩哭</p>
      <p class="subname">Shicoku</p>
    </div>
    <div>
      <ul>
        <li>
          <a href="/"><i class="fa-regular fa-house"></i>HomePage</a>
        </li>
        <li>
          <a href="https://twitter.com/Sck_Day"
            ><i class="fa-brands fa-x-twitter"></i> @Sck_Day</a
          >
        </li>
        <li>
          <a href="https://twitter.com/Shicoku_"
            ><i class="fa-brands fa-x-twitter"></i> @Shicoku_</a
          >
        </li>
        <li>
          <a href="https://github.com/Shicoku"
            ><i class="fa-brands fa-github" style="margin-right: 5px;"></i> GitHub</a
          >
        </li>
        <li>
          <a href="https://note.com/shicoku"
            ><img src={Note.src} alt="note" style="width: 40px;" /> Shicoku / シュー
          </a>
        </li>
        <li>
          <a href="https://zenn.dev/shicoku"
            ><img
              src={Zenn.src}
              alt="zenn"
              style="width: 30px; margin-right: 10px;"
            /> Zenn
          </a>
        </li>
      </ul>
    </div>
  </div>
</body>

<footer>
  <div>
    <p>
      <a href="/">&copy; 2026 Shicoku / 詩哭</a>
    </p>
  </div>
</footer>

<style>
  @font-face {
    font-family: kt;
    src: url(/font/kt.ttf);
  }

  @font-face {
    font-family: boldnese;
    src: url(/font/boldnese.ttf);
  }

  html {
    font-family: kt;
  }

  html,
  body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: #7ea3cc;
  }

  .icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
  }

  .icon img {
    width: 200px;
    height: auto;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  div ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 10px;
    margin-top: 30px;
  }
  li {
    margin-bottom: 10px;
  }
  li a {
    font-size: 1.5rem;
    color: #fff;
    text-decoration: none;
    border: solid 5px #fff;
    border-radius: 15px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 250px;
    transition:
      transform 0.3s cubic-bezier(0.34, 1.56, 0.64, 1),
      filter 0.3s ease;
  }
  li a:hover {
    transform: scale(1.08);
    filter: brightness(1.05);
  }

  .name {
    font-size: 2rem;
    color: #fff;
    margin: 10px 0 5px 0;
    font-weight: bold;
  }

  .subname {
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.7);
    margin: 0;
    font-weight: normal;
  }

  footer {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  footer p {
    font-size: 1.5rem;
  }
  footer a {
    text-decoration: none;
    color: #cfcfcf;
  }
  footer a:hover {
    text-decoration: underline;
    opacity: 0.7;
  }
</style>

<script src="https://kit.fontawesome.com/5047205f69.js" crossorigin="anonymous"
></script>
