<header>
  <div class="logo">
    <h1><a href="/">Shicoku</a></h1>
  </div>
  <div>
    <input type="checkbox" id="menu-btn-check" />
    <div class="menu-bg"></div>
    <ul>
      <li class="pc"><a href="/about">About</a></li>
      <li class="pc"><a href="/projects">Projects</a></li>
      <li class="pc"><a href="/contact">Contact</a></li>
      <li>
        <label for="menu-btn-check" class="menu-btn"><span></span></label>
      </li>
    </ul>
  </div>
</header>

<style>
  header {
    position: fixed;
    width: 100%;
    height: 4rem;
    color: #fff;
    display: flex;

    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }

  input[type="checkbox"] {
    display: none;
  }

  .logo h1 {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0.5rem 1rem;
    font-size: 2rem;
    z-index: 1000;
  }
  .logo a {
    font-family: kt;
  }

  ul {
    position: fixed;
    margin: 0;
    padding: 0;
    right: 70px;
    top: 25px;
    font-size: 1.7rem;
  }

  li {
    list-style: none;
    display: inline-block;
    margin-left: 1rem;
  }
  a {
    color: #fff;
    text-decoration: none;
    font-family: boldnese;
  }
  a:hover {
    color: #ccc;
    text-decoration: underline;
  }

  li label {
    width: 30px;
    height: 30px;
    cursor: pointer;
    position: absolute;
    top: 26px;
  }

  span,
  span:before,
  span:after {
    content: "";
    display: block;
    height: 5px;
    width: 35px;
    border-radius: 3px;
    background-color: #fff;
    position: absolute;
  }
  span:before {
    bottom: 10px;
  }
  span:after {
    top: 10px;
  }

  .active {
    color: #497cb6;
  }
  .active:hover {
    color: #2c4a6d;
  }

  @media (max-width: 789px) {
    .pc {
      display: none;
    }
  }
</style>

<script>
  const about = document.querySelector('a[href="/about"]');
  const projects = document.querySelector('a[href="/projects"]');
  const contact = document.querySelector('a[href="/contact"]');

  window.addEventListener("DOMContentLoaded", () => {
    const currentPath = window.location.pathname;

    if (currentPath === "/about") {
      about?.classList.add("active");
    } else if (currentPath === "/projects") {
      projects?.classList.add("active");
    } else if (currentPath === "/contact") {
      contact?.classList.add("active");
    }
  });
</script>
