---
import Header from "../components/frames/header.astro";
import Splash from "../components/animations/splash.astro";
import Footer from "../components/frames/footer.astro";

const site = "https://shicoku.vercel.app";
---

<!doctype html>
<html lang="jp">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- <meta property="og:title" content="Shicoku / 詩哭" />
    <meta
      property="og:description"
      content="詩哭です。ゆるくたのしく色々作ります。"
    />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://shicoku.vercel.app/" />
    <meta property="og:image" content={`{site}/ogp.ong`} />
    <meta property="og:site_name" content="Shicoku / 詩哭" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Shicoku / 詩哭" />
    <meta
      name="twitter:description"
      content="詩哭です。ゆるくたのしく色々作ります"
    />
    <meta name="twitter:image" content={`{site}/ogp.ong`} />
    <meta name="twitter:site" content="@Sck_Day" />
    <meta name="twitter:url" content="https://shicoku.vercel.app/" /> -->

    <!-- icon -->
    <link rel="icon" type="image/png" href="/icons/shicoku.png" />
    <link rel="shortcut icon" type="image/png" href="/icons/shicoku.png" />
    <link rel="apple-touch-icon" href="/icons/shicoku.png" />

    <title>Shicoku / 詩哭</title>
  </head>

  <Header />

  <body>
    <Splash />
    <slot />
  </body>
  <Footer />

  <style>
    @font-face {
      font-family: kt;
      src: url(/font/kt.ttf);
    }

    @font-face {
      font-family: boldnese;
      src: url(/font/boldnese.ttf);
    }

    html {
      font-family: kt;
    }

    html,
    body {
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%;
      background: #7ea3cc;
      height: 100vw;
    }
  </style>

  <script
    src="https://kit.fontawesome.com/5047205f69.js"
    crossorigin="anonymous"></script>
</html>
