@charset "UTF-8";

textarea {
  margin-top: 5px;
}

input {
  border-top: 3px solid rgb(85, 221, 255);
  border-left: 3px solid rgb(85, 221, 255);
  border-right: 4px solid rgb(85, 221, 255);
  border-bottom: 4px solid rgb(85, 221, 255);
  border-radius: 6px;
  font-family: kei;
  font-size: 1.01rem;
}

textarea {
  border-top: 3px solid rgb(85, 221, 255);
  border-left: 3px solid rgb(85, 221, 255);
  border-right: 4px solid rgb(85, 221, 255);
  border-bottom: 4px solid rgb(85, 221, 255);
  border-radius: 6px;
  font-family: kei;
}

form {
  width: 300px;
  margin: 0 auto;
  margin-top: 60px;
  font-family: kei;
}

.title2 {
  margin: auto;
  margin-top: 150px;
  width: fit-content;
  border-bottom: 5px solid rgb(85, 221, 255);
}

.txt {
  width: 290px;
  height: 20px;
}

.formB {
  font-size: 1.2rem;
  font-family: kei;
  width: 300px;
  height: 30px;
  background-color: #ffffff;
  border: 3px solid rgb(85, 221, 255);
  border-radius: 5px;

  transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
}

.formB:hover {
  color: #ffffff;
  background-color: rgb(85, 221, 255);
}

.hidden_box {
  margin-top: 2em; /*前後の余白*/
  margin-bottom: 1em;
  width: 300px;
  margin: 0 auto;
}

.formB2 {
  font-size: 1.2rem;
  font-family: kei;
  padding: 2px 110px 2px 107px;
  background-color: #ffffff;
  border: 3px solid rgb(85, 221, 255);
  border-radius: 5px;
  transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;

  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.formB2:hover {
  color: #ffffff;
  background-color: rgb(85, 221, 255);
}

#label {
  display: none;
}

.hidden_box .hidden_show {
  margin-top: -10px;
  display: none;
}

.hidden_box input:checked ~ .hidden_show {
  padding: 10px 0;
  height: auto;
  opacity: 1;
  font-size: 1.1rem;
  font-family: kei;
  display: block;
}
