@charset "UTF-8";

@font-face {
  font-family: kei;
  src: url(font/keifont.ttf);
}
@font-face {
  font-family: kt;
  src: url(font/kt.ttf);
}

@keyframes downIn {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes hover {
  0% {
    transform: translateX(10000px);
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

body {
  animation: downIn 0.7s cubic-bezier(0.33, 1, 0.68, 1) 1 forwards;
  width: 100%;
}

img {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

a {
  text-decoration: none;
  color: #000;
}

.left {
  display: inline-block;
  vertical-align: top;
}

.back-btn {
  font-family: kt;
  color: #000000;
  overflow: hidden;

  border: 2px solid #000000;
  border-radius: 100px;
  font-size: 20px;
  display: inline-block;
  padding: 20px 30px;
  margin: 20px 0;
  position: relative;

  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;

  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.back-btn:before {
  content: "";
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: -100%;
  background-color: #000000;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.back-btn:hover {
  color: #ecf0f1;
}
.back-btn:hover:before {
  left: 0;
}

.about-btn {
  margin-top: -95px;
  margin-left: 90px;
}

.btn {
  font-family: none;
  font-size: 60px;
  border: 5px solid #00000000;
  border-radius: 20px;
  padding: 10px;

  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.btn:hover {
  border: 5px solid #000000;
  border-radius: 20px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.breadcrumb {
  list-style: none;
  overflow: hidden;
  font: 12px Helvetica, Arial, Sans-Serif;
}
.breadcrumb li {
  float: left;
}
.breadcrumb li a {
  font-family: kei;
  font-size: 20px;
  margin-top: -3px;
  text-decoration: none;
  padding: 10px 0 15px 55px;
  background: rgb(85, 221, 255);
  width: 19px;
  height: 15px;
  position: relative;
  display: block;
  float: left;
}

.breadcrumb li a:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
  border-left: 30px solid rgb(85, 221, 255);
  position: absolute;
  top: 50%;
  margin-top: -50px;
  left: 100%;
  z-index: 2;
}

.breadcrumb li a:before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
  border-left: 35px solid white;
  position: absolute;
  top: 50%;
  margin-top: -50px;
  margin-left: 1px;
  left: 100%;
  z-index: 1;
}

.breadcrumb li:first-child a {
  padding-left: 10px;
}
.breadcrumb li:nth-child(2) a {
  background: rgb(223, 223, 223);
  width: 150px;
}
.breadcrumb li:nth-child(2) a:after {
  border-left-color: rgba(190, 190, 190, 0);
}

.card-img {
  margin-top: 10%;
  width: 20vw;
  border: 1px solid #000;
  border-radius: 10px;
}
.card-img:hover {
  background-color: black;
  opacity: 0.7;
}

h1 {
  margin-top: 5%;
  margin-left: 20px;
  font-size: 3.8rem;
}

.under {
  border-bottom: 2px solid;
  width: 1890px;
}

.card-txt {
  font-family: kei;
  font-size: 20px;
  margin-left: 30px;
}

.card-body div {
  margin-top: 10px;
  margin-left: 30px;
  display: inline-block;
}

.card-txt-page:hover {
  color: #000;
  opacity: 0.5;
}

.link {
  text-decoration: none;
  color: black;
}

.link:hover {
  color: rgba(27, 173, 179, 0.425);
}

.here {
  color: rgb(85, 221, 255);
  opacity: 0.4;
}

.here:hover {
  border: 5px solid rgb(85, 221, 255);
  opacity: 0.4;
}

.copy {
  margin-top: 20px;
  margin-left: 30px;
  font-size: 130%;
  font-family: kt;
}

.mrg {
  margin-left: 60px;
}
.mrg2 {
  margin-left: 197px;
}

.red {
  color: red;
}

@media screen and (max-width: 480px) {
  .card-img {
    width: 80vw;
    border: 1px solid #000;
    border-radius: 10px;
  }

  .under {
    margin-left: -2%;
    border-bottom: 2px solid;
    width: 360px;
  }

  .card-txt {
    font-family: kei;
    font-size: 20px;
    margin-left: 30px;
  }

  .about-btn {
    transform: scale(0.8, 0.8);
    margin-top: -140px;
  }

  .breadcrumb {
    list-style: none;
    overflow: hidden;
    font: 12px Helvetica, Arial, Sans-Serif;
    margin-left: -40px;
  }

  .card-img {
    margin-left: -30px;
  }

  .mrg {
    margin-left: 30px;
  }
  .mrg2 {
    margin-left: 160px;
  }
}
